.about-page-main-container{
  font-size: 1.5rem;
  /* margin-top: 6.3rem; */
  text-wrap: wrap;
  background-color: #F1E3D3;
}

.about-page-main-heading{
  font-size: 3rem;
  width: 10%;
  font-style: oblique;
  margin: auto;
  padding: 150px 30px 30px 30px;
  font-weight: bolder;
}

.about-summary-container{
  width: 80%;
  margin: auto;
}

.about-short-summary{
  margin: 30px 0 30px 0;
  font-size: 1.8rem;
  font-style: italic;
  /* background-color: rgb(246, 252, 252); */
  padding: 10px;
}

.about-tech-skills-container{
  margin: 30px 0 30px 0;
}

.about-tech-skills-container li{
  list-style: none;
}

.about-skill-heading{
  font-size: 1.5rem;
  font-weight: bold;
}

.about-skills-container{
  padding: 20px;
}

.about-skill-heading2{
  font-size: 1.3rem;
  font-weight: bold;
}

.about-contact-container{
  width: 80%;
  margin:auto;
  margin-top: 20px;
  border-top: 2px solid brown;
  border-bottom: 2px solid brown;
  padding: 40px;

  margin-bottom: 2rem;
}

.about-detail-container{
  display: flex;
  column-gap: 25px;
  width: 100%;
}

/* .about-detail-title{} */

.about-detail{
  word-break: break-all;
}

@media(max-width: 600px){
  .about-page-main-container{
    /* margin-top: 6.3rem; */
  }

  .about-page-main-heading{
    width: 70%;
    font-size: 2rem;
  }
}

.contact-icons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  margin: 10px 0 10px 0;
}

.contact-icon{
  width: 40px;
  cursor: pointer;
  color: black;
}