.homepage-main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.homepage-image{
  width: 25%;
  border-bottom: 5px solid red;
  border-top: 5px solid green;
  border-radius: 50%;
}
