.homepage-main-container {
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: center;
  align-items: center; */
  background-color: #edeec9;
  height: 76dvh;
}

/* .homepage-image {
  width: auto;
  height: auto;
  border-bottom: 5px solid red;
  border-top: 5px solid green;
  border-radius: 50%;
  margin-top: 15px;
} */

.intro-text {
  font-size: 1.6rem;
  margin: auto;
  padding: 10px;
}

.homepage-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  height:70dvh;
  margin: auto;
}

.highlighted-text {
  font-size: 2rem;
  color: teal;
}

@media (max-width: 600px) {
  .homepage-main-container {
    height: 79dvh;
  }
  .homepage-image {
    width: 50%;
  }
}


.animated-text::after{
  content:'';
  font-size: 3rem;
  display: inline-block;
  overflow: hidden;
  animation: typing 2s alternate infinite,change-words 20s infinite;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

@keyframes typing {
  0% {
    width: 0ch;
  }
  100% {
    width: 8ch;
  }
}
/* HTML, CSS, Javascript, React.JS, Node.JS, Nest.JS */
@keyframes change-words {
  0%,20% {
    content: "HTML";
  }

  21%,40%{
    content: 'CSS';
  }

  41%,60% {
    content: "React.JS";
  }
  61%, 80% {
    content: "Node.JS";
  }
  81%,100%{
    content: 'Nest.JS';
  }

}

.homepage-footer{
  width: 100dvw;
  height: 10.8dvh;
}
