.projects-page-container{
  background-color: #a3b18a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100dvw;
}

.projects-page-main-heading{
  font-size: 3rem;
  width: 30%;
  font-style: oblique;
  margin: auto;
  padding:30px;
  font-weight: bolder;
  text-align: center;
}
.project-component-container{
  width: 500px;
  border:2px solid black;
  border-radius:5px;
  box-shadow: -6px 6px 0 grey;
  text-align: center;
  background-color: beige;
  margin-bottom: 50px;
}


.project-component-container a{
  text-decoration: none;
  color: black;
}

.project-component-container h1{
  padding: 10px;
}

.project-component-container p{
  margin: auto;
  width: 70%;
  opacity:0.1;
  padding: 10px 0 10px;
  transition: opacity 0.5s ease;
}

.project-component-container a:hover >  p{
 opacity: 1;
}


@keyframes show-container-left-sm {
  0%{
    transform: translateX(-500px);
  }

  100%{
    transform: translateX(5%);
  }
}

@media(max-width: 600px){

.project-component-container{
  width: 300px;
}

.projects-page-main-heading{
  font-size: 2rem;
  width: 70%;
  text-align: center;
}

.project-component-container p{
  opacity: 1;
}
}

.projects-footer{
  width: 100%;
  height: 10dvh;
}

