.skills-page-main-container{
  margin-top: 10rem;
  font-style: oblique;

}

.skill-page-main-heading{
  font-size: 3rem;
  font-weight: bolder;
}

.skill-page-main-description{
  font-size: 1.5rem;
  width: 90%;
}

.skill-page-head-container{
  width: 90dvw;
  margin:auto;
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.skill-desc-main-container{
  margin-top: 50px ;
}

.skill-desc-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  background-color: antiquewhite;
  margin: 20px auto;
  padding: 25px;
  width: 90%;
  height: auto;
  border-radius: 30px;
}

.skill-logo{
  width:200px;
  border-radius: 50%;
}

.skill-description{
  font-size: 1.5rem;
}

.skill-heading{
  display: inline-block;
    margin-left: 6%;
    font-size: 2.5rem;
    font-style: oblique;
}

@media(max-width:600px){
  .skill-desc-container{
    justify-content: center;
    /* row-gap: 10px; */
  }
}